:root {
    --width: 800px;
    --height: 500px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}

.img {
    width: var(--width);
    height: var(--height);
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    flex-shrink: 0;
}

.imgContainer {
    position: relative;
    background-color: #000;
    border-radius: 8px;
}

.rightArrow, .leftArrow {
    background-color: rgba(0, 0, 0, .8);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ddd;
}

.rightArrow:hover, .leftArrow:hover {
    background-color: #000;
    cursor: pointer;
}

.rightArrow {
    left: calc(100% - 30px);
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}

.leftArrow {
    right: calc(100% - 30px);
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
}

.fader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    border-radius: 8px;
}

.fader.hide {
    opacity: 0;
    transition: 0.5s opacity;
}

.toggleBtn {
    border-radius: 1000px;
    padding: 30px;
    background-color: #ddd;
    margin: 50px;
    cursor: pointer;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBtn:hover {
    background-color: #ccc;
    opacity: 1;
}